import( stats )
import( methods )
import( SummarizedExperiment )
import( EpiDISH )
import( limma )
import( nnls )
import( quadprog )
import( corpcor )
export(
    Tsisal,
    assignCellType,
    csDeconv,
    csTest,
    DEVarSelect,
    findRefinx,
    fitModel,
    makeDesign,
    ChooseMarker,
    GetPrior,
    MDeconv,
    myRefFreeCellMixInitialize,
    myRefFreeCellMix,
    myprojectMix
)
