import( stats )
import( methods )
import( SummarizedExperiment )
import( RefFreeEWAS )
import( EpiDISH )
import( limma )
import( nnls )
export(
    assignCellType,
    csDeconv,
    csTest,
    DEVarSelect,
    findRefinx,
    fitModel,
    makeDesign,
    ChooseMarker,
    GetPrior,
    MDeconv
)
